/* 
  Our Styling variables to use for correct or incorrect answers / default state
*/
:root {
  --default-blue: #1A74E8;
  --wrong-red: red;
  --correct-green: rgb(25, 187, 25);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  overflow: hidden;
}

#app {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* 
  Description text below I'm not a robot container
*/
.website-descr {
  padding: 0px 20px;
  max-width: 380px;
  text-align: center;
}

@media (max-width: 630px) {
  .website-descr {
    max-width: 85%;
  }
}

/* 
  Bottom credits container
*/
.credits {
  width: 660px;
  position: absolute;
  bottom: 15px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  z-index: 1;
}
@media (max-width: 630px) {
  .credits {
    width: 90%;
    align-items: center;
    bottom: 15px;
    left: 25px;
  }
}

.credits  a {
  color: #066d3a;
  text-decoration: none;
  
}

.text-link:hover {
  cursor: pointer;
  color: #737373;
}

.project-context {
  text-align: right;
  max-width: 480px;
}

@media (max-width: 630px) {
  .project-context {
    text-align: center;
    width: 100%;
  }
}

.small-text {
  margin: 0px;
  font-size: 14px;
  color: #737373;
}

@media (max-width: 630px) {
  .small-text {
    font-size: 12px;
  }
}


.author-and-links {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  margin: 0px;
  justify-content: end;
}

@media (max-width: 630px) {
  .author-and-links {
    width: 90%;
    flex-direction: column-reverse;
    gap: 5px;
  }
}

.author-text {
  margin: 0px;
}

.links i {
  color: black;
  font-size: 25px;
  cursor: pointer;
}
.links i:hover {
  color: #737373;
}
@media (max-width: 630px) {
  .links i {
    font-size: 20px;
  }
}



/* 
  "I'm not a robot" : container, checkbox btn
*/
.not-a-robot-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 150px;
  padding: 10px 15px;
  gap: 15px;
  background-color: #f9f9f9;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

@media (max-width: 630px) {
  .not-a-robot-container {
    margin-top: 100px;
    gap: 5px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  overflow: auto;
  background-color: white;
  border: 2px solid #444746;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:hover {
  border: 2px solid #b2b2b2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  border-radius: 2px;
}

.checkbox:active {
  animation: clickFlash 1s ease;
}

@keyframes clickFlash {
  0% {
    background-color: #d3d3d3;
  }
  100% {
    background-color: white;
  }
}

/* When the captcha modal is opened */
.checkbox.disabled {
  border: 2px solid #b2b2b2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  pointer-events: none;

}

@media (max-width: 630px) {
  .checkbox {
    margin-right: 5px;
  }
}

/* "I'm not a robot" text element */
.not-a-robot-container>p {
  font-weight: medium;
  margin-right: 130px
}

@media (max-width: 630px) {
  .not-a-robot-container>p {
    margin-right: 60px
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555;
}

.logo-container>h3 {
  padding-top: 5px;
  font-weight: 400;
  margin: 0px;
  font-size: x-small;
}

.logo-container>p {
  margin: 0px;
  font-size: xx-small;
  font-weight: 400;
}

/* 
  Captcha : image-selecting modal
*/

.modal-container {
  display: none;
  position: relative;
  box-sizing: border-box;
  bottom: 116px;
  left: 75px;
  width: 450px;
  background-color: white;
  border: 1px solid rgb(217, 216, 216);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 5;
}

@media (max-width: 630px) {
  .modal-container {
    width: 90%;
    left: 0px;
    bottom: 130px;
  }
}

/* 
  Title & Grid parent container 
*/
.content {
  padding: 8px;
}

/* 
  Title and description container 
*/
.captcha-title-container {
  margin: 0px;
  padding-left: 25px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 35px;
  color: white;
  background-color: var(--default-blue);
}

/* The instructions paragraph */
.captcha-title-container>p {
  font-size: 14px;
  margin: 0px;
  padding-bottom: 2.5px;
}

/* The current square shown title */
.captcha-title-container>h2 {
  font-size: 32px;
  margin: 0px;
}

/* 
  Captcha squares grid 
*/
.captcha-grid {
  margin-top: 6px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  /* Keeps columns responsive within the container */
  width: 100%;
  max-width: 100%;
  /* Ensure the grid stays square */
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.8s ease;
}

/*
  All grids squares
*/
.captcha-grid>div {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: transparent;
  text-align: right;
  border: 1.2px solid white;
  padding: 8px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  transition: box-shadow 0.15s ease;
}

/* Square's in selected mode */
.captcha-grid .selected {
  display: flex;
  box-shadow: inset 0px 0px 0px 10px white;
}

/* Correctly selected square - green border */
.captcha-grid .correct-selection {
  box-shadow: inset 0px 0px 0px 3px var(--correct-green);
}

/* Wrong selected square - red border */
.captcha-grid .wrong-selection {
  box-shadow: inset 0px 0px 0px 3px var(--default-blue);
}

/* Missing square to select - red border */
.captcha-grid .missing-selection {
  box-shadow: inset 0px 0px 0px 3px var(--wrong-red);
}

/* 
  Square top-left selection indicator 
*/
.select-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: white;
  background-color: var(--default-blue);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  /* TODO : Add drop shadow */
}

/* Square not selected : Hide top-left selection indicator */
.select-indicator.hidden {
  display: none;
}

/* Correctly selected square - green indicator */
.select-indicator.correct {
  background-color: var(--correct-green);
}

/* Incorrectly selected square - red indicator */
.select-indicator.incorrect {
  background-color: var(--wrong-red);
}


/* 
  Capcha Modal Footer 
*/
.captcha-footer {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  border-top: 1px solid rgb(223, 223, 223);
}

.icons-container {
  display: flex;
  gap: 15px;
  padding: 5px 0px;
  padding-left: 5px;
}

.icons-container>i {
  color: #737373;
  font-size: 35px;
  cursor: pointer;
}

.icons-container>i:hover {
  color: black;
}

.icons-container>i.disabled {
  cursor: default;
  color: #c8c8c8;
}

.verify {
  padding: 12px 30px;
  border: none;
  font-size: 14px;
  background-color: var(--default-blue);
  color: white;
  cursor: pointer;
}

/* Icons Tool-Tips */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  visibility: hidden;
  /* Hidden by default */
  background-color: rgb(75, 75, 75);
  color: #ffff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  position: absolute;
  font-size: 16px;
  z-index: 1;
  /* Ensure tooltip is displayed above content */
  width: 130px;
  top: 100%;
  left: 50%;
  margin-left: -65px;
  /* Use half of the width (130/2 = 65), to center the tooltip */
  margin-top: 6px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(75, 75, 75) transparent;
}

/* Bridge the gap between icon and tooltip to prevent disappearing */
.tooltiptext::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 10px;
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext,
.tooltiptext:hover {
  visibility: visible;
  opacity: 1;
}
